.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-position: 50% 50%;
  background-size: cover;
}


.section {
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-bottom: 60px;
}

.heading-2 {
  margin-bottom: 40px;
}

.div-block {
  display: flex;
  margin-bottom: 40px;
}

.form {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  height: 150px;
  padding: 20px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.div-block-3 {
  height: 150px;
  padding: 10px 20px 20px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.heading-3 {
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.submit-button {
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
  color: #000;
}

.checkbox-field {
  position: relative;
  display: flex;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 0px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  min-height: 300px;
  min-width: 300px;
}

.checkbox-label {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-left: 0px;
}

.heading-5 {
  margin: 0px 0px 20px;
  text-align: center;
}

  