footer {
    width: 100%;
    position: absolute;
    padding-top: 10px;
    border-top: 20px;
}

#div-footer {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

#dal-logo {
    width: 120px;
    margin-right: 18px;
}

.select-quant {
    width: 70%;
    margin-top: 10px;
}

.item-image {
    width: 330px;
}

.item-image-main {
    object-fit: cover;
    width: 296.667px;
    height: 296.667px;
    border-radius: 5px;
}

#main-content {
    width: 70%;
    margin: auto;
    min-height: 70vh;
}

#admin-form {
    min-height: 73vh;
    vertical-align: middle;
}

.button-cart {
    margin-bottom: 25px;
}

.list-group-item {
    border-top-width: 1px !important;
}

#update-quant {
    resize: none;
    width: 15%;
    height: 30px;
    text-align: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    display: block;
}

#cart-icon {
    width: 30px;
    margin-right: 0;
    margin-top: 5px;
}

.cart-div {
    position: relative;
}

.search-res {
    min-height: 73vh;
}

.confirmation {
    min-height: 65vh;
}

.shopping-items {
    min-height: 73vh;
    width: 60%;
    margin: auto;
}

#clear {
    margin-right: 15px;
}

#cart-empty {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.cart-alert {
    margin-top: 15px;
    width: 40%;
}

.item-in-cart {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

#cart-num {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffc107;
    font-size: 12px;
    border-left: 5px;
    border-right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
}

#submit-code {
    border-bottom: 10px;
}

#wrong-password {
    width: 48%;
    margin: auto;
    margin-bottom: 14px;
}

#empty-input {
    width: 20%;
    margin: auto;
    margin-bottom: 14px;
}

#admin-portal {
    min-height: 73vh;
}

#intro-p {
    width: 70%;
    margin: auto;
}

#admin-input {
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}

.btn-spacing {
    margin-bottom: 10px;
    width: 50%;
}

.select-quant {
    padding-bottom: 10px;
    width: 100px;
}

.btn-styling {
    margin-top: 20px;
}

.item-display {
    min-height: 73vh;
    vertical-align: middle;
}

.item-image {
    margin-left: 10px;
}

.card-body2{
    margin-bottom: 10px;
    
}

.category{
    font-weight: 400;
    text-decoration: underline;
}

.Input{
    border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px; 
    width: 200px;
    height: 15px;   
    
}





.submit1{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: white;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#pg-banner{
    color:black;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px; 
    margin-bottom: 15px;
    border-bottom: darkcyan solid;
    margin-bottom: 20px;
}

#logo-img{
    width: 20%;
    height: 30%;
    display: flex;
    position: left;
    border: black solid;
}

/*page-banner part:
set the pg-banner h1 text in the middle of the container and set the color to the wheat*/
#pg-banner h1{
    text-align: center;
    color: darkcyan; 
}

/*page-banner part:
set the pg-banner h1 text in the middle of the container*/
#pg-banner nav a{
    color: darkcyan;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
}

/*page-banner part:
set the pg-banner navigation bar in the specific position*/
#pg-banner nav  {
    text-align: center;
    padding: 5px;
    font-size: large;
    color: darkcyan; 
    width: 100%;  
}

/*page-banner part:
set the pg-banner link with the hover elment*/
#pg-banner a:hover{
    background-color: darkcyan;
    color: black;
}

/*set the About Tiger News part with the padding which space top and bottom*/
#pg-footer{
    border-top: wheat solid;
    background-color: darkcyan;
    color: wheat;
    padding: 30px 20px 40px;
    margin-top: 150px;
}

/*set the other page's h2 with the specifc element*/
#pg-main-content-other h2{
    text-align: center;
    color: darkcyan;                       
}

/*set the form in the homepage*/
#main-article2 form {
    text-align: center;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    width: 300px; 
}
