footer {
    width: 100%;
    position: absolute;
    padding-top: 10px;
    border-top: 20px;
    bottom: 0;
}

#div-footer {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

img {
    width: 120px;
    margin-right: 18px;
}

#main-content {
    width: 70%;
    margin: auto;
    min-height: 70vh;
}

#admin-form {
    min-height: 70vh;
    vertical-align: middle;
}

#cart-icon {
    width: 25px;
    margin-right: 0;
    margin-top: 5px;
}

#submit-code {
    border-bottom: 10px;
}

#wrong-password {
    width: 48%;
    margin: auto;
    margin-bottom: 14px;
}

#empty-input {
    width: 20%;
    margin: auto;
    margin-bottom: 14px;
}

#admin-portal {
    min-height: 70vh;
}

#intro-p {
    width: 70%;
    margin: auto;
}

#admin-input {
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}

.btn-spacing {
    margin-bottom: 10px;
    width: 50%;
}

.select-quant {
    padding-bottom: 10px;
    width: 100px;
}

.btn-styling {
    margin-top: 20px;
}

.item-display {
    min-height: 70vh;
    vertical-align: middle;
}

.item-image {
    margin-left: 10px;
}