/*
* CSCI 1170: Introduction to Web Design and Development
* Winter 2022 winter
* Author: Haoran Zhang B00908217 hr473038@dal.ca
* This is the main.css file that decoration all the four page of the html file by different view.
*/ 


/* PC view when the width is over the 960 px */
@media screen and (min-width:960px) {
    
/* set the basic in formation about the whole page for all the pages. like the font-family,background-color and text color*/
/* body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
} */

/*page-banner part:
set the basic information for the pa-banner with the wheat color, large size, and specific pading and the borde size */
#pg-banner{
	color:black;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px; 
    margin-bottom: 15px;
    border-bottom: darkcyan solid;
    margin-bottom: 20px;
}

#logo-img{
    width: 20%;
    height: 30%;
    display: flex;
    position: left;
    border: black solid;
}

/*page-banner part:
set the pg-banner h1 text in the middle of the container and set the color to the wheat*/
#pg-banner h1{
    text-align: center;
    color: darkcyan; 
}

/*page-banner part:
set the pg-banner h1 text in the middle of the container*/
#pg-banner nav a{
    color: darkcyan;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
}

/*page-banner part:
set the pg-banner navigation bar in the specific position*/
#pg-banner nav  {
    text-align: center;
    padding: 5px;
    font-size: large;
    color: darkcyan; 
    width: 100%;  
}

/*page-banner part:
set the pg-banner link with the hover elment*/
#pg-banner a:hover{
    background-color: darkcyan;
    color: black;
}


/*pg-main-content-homepage part:
set the home page picture with the right size(full size)*/
/* #pg-main-content-homepage img{
    width: 100%;
    height: 75%;
    margin: auto; 
} */

/*pg-main-content-homepage part:
set the home page content part of the h2 head with the right size*/
/* #pg-main-content-homepage h2{
    color: black;
} */

/*pg-main-content-homepage part:
set the home page content part of the h2 head with the right size*/
/* #pg-main-content-homepage h3{
    color: black;
    text-align: center;
} */

/*set the covid-summary in the right side of the page that below the board-bottom of the head section*/
#covid-summary {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 350px;
}

/*set the covid-summary in the right side of the page with the list element*/
 #covid-summary ul {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/*set the high light content at the left side of the webpage*/
section#highlights{ 
    width: 60%;
    float: left;
}

/*set the each of the square of the content with flex-box*/
#featured-articles h2 {
text-align: center;
position: relative;
} 

/*set the other page with the specific element*/
.art-summary{
    padding:13px;
    width: 21%;
    margin: auto;
    background-color: cadetblue;
}


/*set the About Tiger News part with the padding which space top and bottom*/
#about-info{
    padding-bottom: 30px;
    padding-top: 30px;
} 

/*set the About Tiger News part with the padding which space top and bottom*/
#pg-footer{
    border-top: wheat solid;
    background-color: darkcyan;
    color: wheat;
    padding: 30px 20px 40px;
    margin-top: 150px;
}

/*set the other page's h2 with the specifc element*/
#pg-main-content-other h2{
    text-align: center;
    color: darkcyan;                       
}

/*set the form in the homepage*/
#main-article2 form {
    text-align: center;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    width: 300px; 
}


}








































































/* tablet view that between the 640px and 960px */
@media screen and (min-width:640px) and  (max-width:960px) {
    /* set the basic in formation about the whole page for all the pages. like the font-family,background-color and text color*/
    body{
        color: white;
        background-color: black;
        /* margin: 5%; */
    }

    /*page-banner part:
set the basic information for the pa-banner with the wheat color, large size, and specific pading and the borde size */
    #pg-banner{
        display: flex;
        flex-direction: column;
        text-align:center;
        color: white;
        
    }

    /*page-banner part:
     set the pg-banner h1 text in the middle of the container and set the color to the wheat*/
    #pg-banner h1{
        text-align: center;
        color: wheat; 
    }
   
    /*page-banner part:
    set the pg-banner navigation bar in the specific position*/
    #pg-banner nav  {
        text-align: center;
        width: 100%; 
        padding: 5px;
        font-size: large;
        color: wheat; 
        background-color: wheat;
    }

    /*page-banner part:
    set the pg-banner h1 text in the middle of the container*/
    #pg-banner nav a {
      text-align: center;
      color: black;
      font-size: larger;
        padding: 20px;
    }


    /*pg-main-content-homepage part:
    set the home page content part of the h2 head with the right size*/
    #pg-main-content-homepage h2{
        text-align: center;
        color: wheat;
        border-bottom: 1px solid wheat;
        padding-top: 5px;
    }

    /*set the home page's h3 head*/
    /* #pg-main-content-homepage h3{
        text-align: center;
        color: white; 
    } */

    /*set the other home page's picture*/
    /* #pg-main-content-other h2{
        text-align: center;
        color: wheat;
    } */

    /*set the home page's he head*/
    /* #featured-articles h2 {
        width: 100%;
        text-align: center;
        position: relative;
         
        }  */

    /*set the content*/
    /* #article{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
    } */

    /*set the home page's content*/
    /* .art-summary{
        width: 41vw;
        text-align: center;
        margin: auto;
    } */
        
    /*set the home page's picture*/
    /* #pg-main-content-homepage img{
        width: 100%;
        height: 75%;
        margin: auto;
    } */
  
    /*set the other page's content*/
    #featured-articles    {
        display: flex;
        flex-direction: row; 
    }

     /*set the other page's he head*/
    #featured-articles h2 {
        position: absolute;
        
    }

    /*set the footer page*/
    #pg-footer{
        border-top: 1px solid wheat;
        background-color: black;
        color: white;
        padding: 10px 20px 40px;
    }

    /*set the main picture */
    .article-featured-img{
        width: 100vw;
        height: 60vw;
       float: left;
       padding-right:30px;
       padding-bottom: 20px;
    }

    /*set the other page' form head with the specifc element*/
    #pg-main-content-other form{
        text-align: center;                
        width: 100vw;
    }

    /*set the other page' h3 head with the specifc element*/
    #main-article h3{
        text-align: center;
        color: wheat;
    }

    /*set the other page' content with the specifc element*/
    #main-article p{
        text-align: center;
    }

    
    /*set the other page' form with the specifc element*/
    #main-article2 contactform{
        text-align: center;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        width: 300px;
    }


    /* #main-contactform p{
        border: solid black;
        color: aqua;
    } */

}
























/* phone view that under the 640ox */
@media screen and (max-width:640px) {

     /*set the body part */
    body{
        color: white;
        background-color: black;
    }

     /*set the pg-banner */
    #pg-banner{
        text-align:center;
        color: white;
    }

     /*set the pg-banner's h1 */
    #pg-banner h1{
        text-align: center;
        color: wheat; 
    }

    /*set the pg-banner's a */
    #pg-banner a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        background-color: black;
        border-bottom: wheat 1px solid;
        padding: 5px;
        color: wheat;
    }

    /*set the other home page's h2 head*/
    #pg-main-content-homepage h2{
        text-align: center;
        color: wheat; 
        border-bottom: 1px solid wheat;
        padding-top: 5px;
    }

    /*set the other home page's h3 head*/
    #pg-main-content-homepage h3{
        text-align: center;
        color: wheat; 
    }

     /*set the other home page's picture*/
    #pg-main-content-homepage img{
        width: 100vw;
        height: 60vw;
    }

     /*set the other page's foot*/
    #pg-footer{
        border-top: 1px solid wheat;
        background-color: black;
        color: white;
        padding: 10px 20px 40px;
    }

     /*set the other page's h2 head*/
    #pg-main-content-other h2{
        text-align: center;
        color: wheat;
    }

     /*set the other page's image*/
    .article-featured-img{
        width: 100vw;
        height: 60vw;
       float: left;
       padding-right:30px;
       padding-bottom: 20px;
    }

     /*set the other page's form*/
    #pg-main-content-other form{
        text-align: center;
        width: 100vw;
    }

     /* set the other page's head
    #main-article h3{
        text-align: center;
        color: wheat;
    }   
    
     /*set the other page's form*/
    #main-article2 form {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100vw;  
    } 

}